src/main/mule/scheduled-order-processor.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="a63354db-a9d7-41e0-b7f4-bd8d5e1dc1f5" />
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="069ef799-7c6f-4b56-bb24-dff73639168f" >
		<jms:active-mq-connection username="admin" password="admin" >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="e8b79d20-27b0-42e4-901f-74eb4ddfc293" />
	<configuration-properties doc:name="Configuration properties" doc:id="ae9187ba-7949-407f-8103-fa287d03550d" file="application.properties" />
	<flow name="scheduled-order-processorFlow" doc:id="523b6010-bd91-4887-9d67-302b375cdcd6" >
		<scheduler doc:name="Scheduler" doc:id="24cd89ba-594e-432e-9f73-fcff4eb0f2ef" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read" doc:id="2ea7195a-0f7a-4a35-94c1-2c62ffb18eb9" path="${input.file.path}"/>
		<validation:is-not-null doc:name="empty-file-validation" doc:id="7fd34170-2a23-4276-b664-624ec4cd2cb1" value="#[payload]" message='#["File is Empty."]'/>
		<logger level="INFO" doc:name="file-detected" doc:id="1355d7de-c925-4184-b891-de0ee23f92b8" message="File detected #[attributes.fileName]" />
		<flow-ref doc:name="Flow Reference" doc:id="11b6418d-b9aa-40da-9d6f-aa657969db52" name="publish-subflow" />
		<file:move doc:name="Move" doc:id="40114e42-54c1-493e-8c5a-ef498909fc9f" targetPath="${processed.folder.path}" sourcePath="${input.file.path}" renameTo="orders.csv" overwrite="true"/>
		<error-handler ref="global-exception-handlerError_Handler" />
	</flow>
	<flow name="consuming-order-flow" doc:id="f08203c5-5a85-4256-ac12-de7f5bfbfabe" >
		<jms:listener doc:name="On New Message" doc:id="93936bf2-1da1-4399-bdb5-b5d51dc42eb7" config-ref="JMS_Config" destination="ordersQueue" numberOfConsumers="1" ackMode="AUTO">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="67947a63-7339-4fd1-be1f-7225a71e0aa3" message='#["inserting..."++ write(payload,"application/json")]'/>
		<flow-ref doc:name="Flow Reference" doc:id="9d97bc77-79b3-4d38-9c0b-b5a2a08a7e92" name="insert-ordersSub_Flow"/>
	</flow>
</mule>
